/* background color */
#status,
.arrw-prev:hover a,
.arrw-next:hover a,
.return:hover a,
.default-bg,
.button,
.see-full,
.about-icon,
.cart-item-count,
.heading-page-section,
.heading-page-cover-section,
.header-bx .primary-navigation>ul>li.selected>a,
.tool-nav-item:hover,
.tool-nav-item:active,
.tool-nav-item:focus,
.m-send-button:hover,
.m-btn,
a.m-btn,
.m-nav-tabs li.active a,
.m-accordion dt.active,
.m-toggle dt.active,
.m-button-default,
.m-btn.m-btn-black:hover,
.m-btn.m-btn-default.m-btn-border:hover,
.m-pgs-bar-percent.m-pgs-bar-color,
.m-pgs-bar-thin-percent.m-pgs-bar-color,
.m-features-item .m-features-icon,
.m-features-item-two .m-features-icon,
.m-standard-list li:before,
.m-counter-list li:before,
.m-feature-cover-item:hover .m-btn,
.m-features-item-tree .m-features-icon,
.m-social-list-icons a.social-icon:hover,
.m-social-list-icons .social-icon:hover a,
.media-icon-2 i,
.page-title-section,
.m-icon-social a i:hover,
.blog-article-read-more:hover,
.tags-widget ul li a:hover,
.heading-wrap-left:after,
.blog-masonry-article-icon,
.blog-grid-article-cap,
.blog-article-comments-count:hover,
.blog-article-masonry.blog-article-quote,
.blog-article-masonry.blog-article-link,
.blog-article-media-type,
.blog-article-tags ul li a,
.comment-content .reply a,
.pagination-count li a:hover,
.pagination li.active a,
.m-team-member-social-icons a:hover,
.subscribe-form .subscribe-btn a:hover,
.primary-navigation>ul>li.selected:after,
.m-pricing-table.active .pricing-table-button a,
.portfolio-style-two .portfolio-item-caption,
.portfolio-filter li a.current-filter{
  background-color: #26b5ff;
}
/* color */
.close-modal,
.counter-item-default,
.default-color,
a:hover,
.m-card-icon i,
.m-nav-tabs li a,
.m-media-item-icon i,
.m-btn.m-btn-default.m-btn-border,
.m-features-item-three .m-features-icon,
.blog-article-title a:hover,
.blog-listed-article:hover .blog-listed-title,
.blog-article-nav-item a,
.footer-white .widget-blog-title a:hover,
.m-btn.m-btn-white:hover,
.m-tab-nav li.ui-state-active a,
.project-details>ul>li>dd>a:hover,
.primary-navigation>ul>li.selected>a,
.project-details>ul>li>dd>ul>li>a:hover,
.product-price ins,
.recent-product-price,
.search-modal-wrap input,
.search-modal-wrap:after,
.m-tabs-icon .m-tab-nav li.ui-state-active a{
  color: #26b5ff;
}
/* border color */
.cart .cancel:hover,
.contact-form-wrap input:focus,
.contact-form-wrap textarea:focus,
.search-button,
.m-nav-tabs li a,
.m-accordion dt.active,
.m-toggle dt.active,
.m-media-item-icon,
.m-pricing-table.active,
.m-btn.m-btn-default.m-btn-border,
.pagination li.active a,
.portfolio-filter li a.current-filter,
.m-tabs-icon .m-tab-nav li.ui-state-active a{
  border-color: #26b5ff;
}