/*
Theme Name: Rose 
Theme URI: http://dhimanbarua.com
Author: Dhiman Barua
Author URI: http://dhimanbarua.com
Description: My First WordPress theme development
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

.sidebar-widget .cat-item  ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: .96em;
}
.sidebar-widget .cat-item  ul li a {
    color: #666666;
}
.tagcloud a {
    color: #ffffff;
    font-size: .9em;
    display: inline-block;
    padding: 8px 10px;
    background: #444444;
    margin: 0 2px 2px 0;
}
.tagcloud::after{
	content: ' ';
	display: table;
}
.tagcloud a:hover{
	color: #FFFFFF;
	background: #26B5FF;
}
.sidebar-widget .cl a img {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-bottom: 0;
    overflow: hidden;
}

.page-numbers li span.current:hover{
    border-color: #aaa;
    color: #888;
}
.page-numbers li span.current {
    background-color: #26b5ff;
    border: 1px solid #bbb;
    color: #aaa;
    display: block;
    width:       36px;
    height:      36px;
    line-height: 36px;
    text-align: center;
}
#respond {
    clear: both;
}